/* INDG new css theme */
:root {
  /* Colors */
  --primary-color: #1abc9c;
  --secondary-color: #3498db;
  --tertiary-color: #9b59b6;
  --text-color: #333;

  /* Fonts */
  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-family: var(--font-family);
  font-size: var(--font-size);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.button-primary:hover {
  background-color: #148f77;
}

.button-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.button-secondary:hover {
  background-color: #2c3e50;
}

.button-tertiary {
  background-color: var(--tertiary-color);
  color: #fff;
}

.button-tertiary:hover {
  background-color: #8e44ad;
}

/* Text */
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-weight: bold;
}

header h1 {
  margin: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* base structure */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 32px;
  height: calc(100vh - 104px);
  border-radius: 22px;
  background: url('./Assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* buttons */
.primary {
  background-color: #fff;
  color: var(--secondary-color);
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  border: none;
  transition: transform 0.3s;
}

.secondary {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px 20px;
  min-width: -webkit-fill-available;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  border: none;
  transition: transform 0.3s;
}

.secondary:hover {
  transform: scale(1.1);
}